In [34]:
import pandas as pd
from sklearn.utils import shuffle

In [2]:
folder = 'C:/Users/oryan/Documents/esac-project/manifests'

In [3]:
training_manifest = pd.read_csv(f'{folder}/gz-hubble-local-manifest.csv', index_col = 0)
full_manifest = pd.read_csv(f'C:/Users/oryan/Documents/zoobot/hubble-dataset-creation/data/gz_hubble_main.csv')

In [4]:
print(len(training_manifest))
print(len(full_manifest))

598
113705

In [5]:
training_manifest_rd = training_manifest[['zooniverse_id']]

In [6]:
full_manifest

,zooniverse_id,survey_id,Table,RA,DEC,Z_BEST,GZ_MU_I,imaging,correction_type,total_count,...,t17_clumps_symmetrical_a02_no_fraction,t17_clumps_symmetrical_a02_no_weighted_fraction,t17_clumps_symmetrical_total_count,t17_clumps_symmetrical_total_weight,t18_clumps_embedded_a01_yes_fraction,t18_clumps_embedded_a01_yes_weighted_fraction,t18_clumps_embedded_a02_no_fraction,t18_clumps_embedded_a02_no_weighted_fraction,t18_clumps_embedded_total_count,t18_clumps_embedded_total_weight
0,AGZ0007xmh,1,hubble,188.897318,62.200334,0.090,21.305056,GOODS-N-FULLDEPTH,2.0,40,...,0.333333,0.333333,3,3.0,0.666667,0.666667,0.333333,0.333333,3,3.0
1,AGZ0007xmi,4,hubble,188.901464,62.200705,999.000,23.121389,GOODS-N-FULLDEPTH,4.0,41,...,0.769231,0.769231,13,13.0,0.461538,0.461538,0.538462,0.538462,13,13.0
2,AGZ0007xmj,6,hubble,188.901567,62.201482,0.270,21.161961,GOODS-N-FULLDEPTH,2.0,40,...,0.500000,0.500000,6,6.0,0.666667,0.666667,0.333333,0.333333,6,6.0
3,AGZ0007xmk,13,hubble,188.905098,62.199973,999.000,23.676237,GOODS-N-FULLDEPTH,4.0,40,...,0.500000,0.500000,2,2.0,0.000000,0.000000,1.000000,1.000000,2,2.0
4,AGZ0007xml,16,hubble,188.906262,62.198074,999.000,21.821812,GOODS-N-FULLDEPTH,4.0,41,...,0.666667,0.666667,3,3.0,0.333333,0.333333,0.666667,0.666667,3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113700,AHZ40008nu,90105528,hubble,52.873002,-27.580397,0.332,19.472644,GEMS,0.0,173,...,0.812000,0.812000,16,16.0,0.750000,0.750000,0.250000,0.250000,16,16.0
113701,AHZ40008nv,90105532,hubble,53.252911,-27.645872,999.000,19.235010,GEMS,4.0,87,...,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.0
113702,AHZ40008nw,90105589,hubble,52.982787,-27.578840,1.339,19.372154,GEMS,3.0,148,...,0.900000,0.900000,10,10.0,0.700000,0.700000,0.300000,0.300000,10,10.0
113703,AHZ40008nx,90107105,hubble,53.189682,-27.948248,999.000,19.059707,GEMS,4.0,31,...,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.0
113704,AHZ40008ny,90107114,hubble,53.190271,-27.948498,999.000,19.243291,GEMS,4.0,18,...,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0,0.0

In [7]:
full_manifest_red = (
    full_manifest[['zooniverse_id','total_count','RA','DEC','t08_odd_feature_a06_merger_fraction','t08_odd_feature_a06_merger_weighted_fraction']]
    .rename(columns={'t08_odd_feature_a06_merger_fraction':'merger_fraction','t08_odd_feature_a06_merger_weighted_fraction':'weighted_merger_fraction'})
)

In [8]:
full_manifest_red

,zooniverse_id,total_count,RA,DEC,merger_fraction,weighted_merger_fraction
0,AGZ0007xmh,40,188.897318,62.200334,0.571429,0.571429
1,AGZ0007xmi,41,188.901464,62.200705,0.166667,0.166667
2,AGZ0007xmj,40,188.901567,62.201482,0.250000,0.250000
3,AGZ0007xmk,40,188.905098,62.199973,0.000000,0.000000
4,AGZ0007xml,41,188.906262,62.198074,0.000000,0.000000
...,...,...,...,...,...,...
113700,AHZ40008nu,173,52.873002,-27.580397,0.583000,0.583000
113701,AHZ40008nv,87,53.252911,-27.645872,0.000000,0.000000
113702,AHZ40008nw,148,52.982787,-27.578840,0.385000,0.415000
113703,AHZ40008nx,31,53.189682,-27.948248,0.000000,0.000000
113704,AHZ40008ny,18,53.190271,-27.948498,0.000000,0.000000

In [42]:
full_manifest_n = full_manifest_red.query('total_count > 100')
full_manifest_merg = full_manifest_n.query('weighted_merger_fraction >= 0.55')
full_manifest_no_merg = full_manifest_n.query('weighted_merger_fraction < 0.01')

In [43]:
full_manifest_merg

,zooniverse_id,total_count,RA,DEC,merger_fraction,weighted_merger_fraction
11208,AHZ100001g,372,214.428937,52.633916,0.667,0.667
11291,AHZ100003r,556,214.607935,52.678602,0.633,0.640
11359,AHZ100005n,727,214.995983,52.916681,0.583,0.590
11383,AHZ100006b,878,214.989484,53.036315,0.587,0.587
11417,AHZ1000079,658,214.888417,52.910964,0.548,0.557
...,...,...,...,...,...,...
113670,AHZ40008n0,117,52.960271,-27.644579,0.800,0.800
113680,AHZ40008na,139,52.976399,-27.627001,0.778,0.778
113690,AHZ40008nk,151,53.235194,-27.979564,0.833,0.833
113699,AHZ40008nt,257,53.208246,-27.577137,0.741,0.778
113700,AHZ40008nu,173,52.873002,-27.580397,0.583,0.583

In [44]:
full_manifest_no_merg

,zooniverse_id,total_count,RA,DEC,merger_fraction,weighted_merger_fraction
11159,AHZ1000003,728,214.130396,52.452309,0.0,0.0
11166,AHZ100000a,437,214.158930,52.458694,0.0,0.0
11173,AHZ100000h,563,214.330447,52.548667,0.0,0.0
11176,AHZ100000k,447,214.390325,52.524098,0.0,0.0
11187,AHZ100000v,501,214.421648,52.507669,0.0,0.0
...,...,...,...,...,...,...
113674,AHZ40008n4,277,53.039940,-27.605331,0.0,0.0
113676,AHZ40008n6,104,53.142698,-27.652103,0.0,0.0
113681,AHZ40008nb,115,53.184815,-27.676793,0.0,0.0
113684,AHZ40008ne,102,53.018988,-28.007857,0.0,0.0
113688,AHZ40008ni,150,53.140588,-27.603481,0.0,0.0

In [45]:
no_merg_sample_df = full_manifest_no_merg.sample(len(full_manifest_merg))

In [46]:
validation_df = pd.concat([no_merg_sample_df, full_manifest_merg])

In [47]:
validation_df

,zooniverse_id,total_count,RA,DEC,merger_fraction,weighted_merger_fraction
49629,AHZ2000n4e,240,150.746243,2.224881,0.000,0.000
19669,AHZ2000006,183,150.741923,1.610926,0.000,0.000
53785,AHZ2000qbu,157,150.210095,2.230774,0.000,0.000
77372,AHZ20018j1,181,150.116538,2.533567,0.000,0.000
36531,AHZ2000d0k,166,149.919554,1.859002,0.000,0.000
...,...,...,...,...,...,...
113670,AHZ40008n0,117,52.960271,-27.644579,0.800,0.800
113680,AHZ40008na,139,52.976399,-27.627001,0.778,0.778
113690,AHZ40008nk,151,53.235194,-27.979564,0.833,0.833
113699,AHZ40008nt,257,53.208246,-27.577137,0.741,0.778
113700,AHZ40008nu,173,52.873002,-27.580397,0.583,0.583

In [48]:
binary_validation_set = validation_df.assign(interaction = validation_df.weighted_merger_fraction.apply(lambda x: 1 if x >= 0.55 else 0))

In [49]:
binary_validation_set.interaction.value_counts()

1    3471
0    3471
Name: interaction, dtype: int64

In [50]:
export_df = shuffle(binary_validation_set.drop(columns=['total_count','merger_fraction','weighted_merger_fraction'])).reset_index().drop(columns='index')

In [51]:
export_df

     zooniverse_id          RA        DEC  interaction
0       AHZ2001cnu  150.754793   2.625425            0
1       AHZ200067f  149.793540   1.738379            0
2       AHZ400034x   52.946413 -27.815488            0
3       AHZ100022b  214.421121  52.616489            0
4       AHZ2001ik8  149.764762   2.784496            0
...            ...         ...        ...          ...
6937    AHZ2000x6a  150.543907   2.336876            1
6938    AHZ2000ybi  150.315179   2.326433            1
6939    AHZ2000vix  150.725568   2.392906            0
6940    AHZ2000k4m  149.921706   2.092468            0
6941    AHZ20000fa  150.190449   1.602247            0

[6942 rows x 4 columns]

In [52]:
export_df.to_csv(f'{folder}/large-training-set.csv')