In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\oryan\Documents\esac-project\cutouts\hubble-training-100-all\hubble-thumb-manifest.csv', index_col = 0)

In [15]:
df_known = pd.read_csv(r'C:\Users\oryan\Documents\esac-project\manifests\gz-hubble-local-manifest.csv',index_col = 0).set_index('zooniverse_id')

In [16]:
df_known

,RA,Dec,imaging,interacting,local_location
zooniverse_id,,,,,
AHZ10004js,215.001397,52.955399,AEGIS,1,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ20000ak,150.387822,1.594000,COSMOS,1,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ20000f7,150.199560,1.602201,COSMOS,1,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ20000gx,150.178616,1.585255,COSMOS,1,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ20000hj,150.196404,1.625565,COSMOS,1,C:/Users/oryan/Documents/zoobot/hubble-dataset...
...,...,...,...,...,...
AHZ2001l95,150.340542,2.819201,COSMOS,0,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ2000q2x,150.239082,2.206484,COSMOS,0,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ2000a8x,150.394694,1.800582,COSMOS,0,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ2000e76,149.587072,1.919982,COSMOS,0,C:/Users/oryan/Documents/zoobot/hubble-dataset...
AHZ20016ia,150.298762,2.597388,COSMOS,0,C:/Users/oryan/Documents/zoobot/hubble-dataset...

In [20]:
df_merge = (
    df
    .merge(df_known, left_index=True,right_index=True,how='left')
    .drop(columns=['imaging','local_location'])
)

In [21]:
df_merge

,thumbnail_path,RA,Dec,interacting
AHZ10004js,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,215.001397,52.955399,1
AHZ20000ak,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.387822,1.594000,1
AHZ20000f7,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.199560,1.602201,1
AHZ20000gx,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.178616,1.585255,1
AHZ20000hj,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.196404,1.625565,1
...,...,...,...,...
AHZ2000xli,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.410260,2.366218,0
AHZ2001l95,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.340542,2.819201,0
AHZ2000a8x,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.394694,1.800582,0
AHZ2000e76,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.587072,1.919982,0
AHZ20016ia,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.298762,2.597388,0

In [22]:
df_export = df_merge.assign(update = 0)

In [25]:
df_export.to_csv(r'C:\Users\oryan\Documents\esac-project\cutouts\hubble-training-100-all\hubble-thumb-manifest-extra.csv')

Key:

    0 - Keep the same.
    1 - Invert classification.
    2 - Remove (Bad Cut)

## Updating CSV

In [33]:
df_updated = (
    pd.read_csv(r'C:\Users\oryan\Documents\esac-project\cutouts\hubble-training-100-all\hubble-thumb-manifest-extra.csv',index_col=0)
    .rename(columns={'update':'to_update'})
)

In [34]:
df_updated.to_update.value_counts()

0    549
2     17
1      4
Name: to_update, dtype: int64

In [39]:
rem_df = df_updated.query('to_update != 2').drop(columns='to_update')

In [40]:
rem_df

,thumbnail_path,RA,Dec,interacting
AHZ10004js,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,215.001397,52.955399,1
AHZ20000ak,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.387822,1.594000,1
AHZ20000f7,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.199560,1.602201,1
AHZ20000gx,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.178616,1.585255,1
AHZ20000hj,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.196404,1.625565,1
...,...,...,...,...
AHZ2000xli,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.410260,2.366218,0
AHZ2001l95,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.340542,2.819201,0
AHZ2000a8x,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.394694,1.800582,0
AHZ2000e76,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.587072,1.919982,0
AHZ20016ia,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.298762,2.597388,0

In [41]:
rem_df.to_csv(r'C:\Users\oryan\Documents\esac-project\cutouts\hubble-training-100-all\hubble-thumb-manifest-checked.csv')