In [1]:
import pandas as pd

In [2]:
folder = 'C:/Users/oryan/Documents/esac-project'

In [3]:
df = pd.read_csv(f'{folder}/cutouts/hubble-training-100-valid/hubble-valid-manifest.csv', index_col = 0)

In [4]:
df_known = pd.read_csv(r'C:\Users\oryan\Documents\esac-project\manifests\validation_set_manifest.csv',index_col = 0).set_index('zooniverse_id')

In [5]:
df_known

                       RA        DEC  interaction
zooniverse_id
AHZ20014y0     150.617792   2.533808            0
AHZ400066w      52.932461 -27.630058            0
AHZ2001nce     149.510928   2.806075            0
AHZ2001oop     150.661058   1.709656            0
AHZ20008c0     150.743709   1.866699            0
...                   ...        ...          ...
AHZ2001tga     150.217657   2.333847            1
AHZ2001tgg     149.945407   2.461494            1
AHZ2001tjt     150.085100   2.527799            1
AHZ40001wa      53.070121 -27.999700            1
AHZ40008m5      52.999558 -27.908689            1

[416 rows x 3 columns]

In [8]:
df

                                               thumbnail_path
AHZ20014y0  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ2001nce  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ20008c0  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ20011u6  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ2000nx8  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
...                                                       ...
AHZ2001tg7  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ2001tga  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ2001tgg  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ2001tjt  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...
AHZ40008m5  /mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...

[397 rows x 1 columns]

In [9]:
df_merge = (
    df
    .merge(df_known, left_index=True,right_index=True,how='left')
)

In [10]:
df_merge

,thumbnail_path,RA,DEC,interaction
AHZ20014y0,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.617792,2.533808,0
AHZ2001nce,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.510928,2.806075,0
AHZ20008c0,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.743709,1.866699,0
AHZ20011u6,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.761110,2.359779,0
AHZ2000nx8,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.615593,2.165826,0
...,...,...,...,...
AHZ2001tg7,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.067971,2.412554,1
AHZ2001tga,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.217657,2.333847,1
AHZ2001tgg,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.945407,2.461494,1
AHZ2001tjt,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.085100,2.527799,1
AHZ40008m5,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,52.999558,-27.908689,1

In [11]:
df_export = df_merge.assign(update = 0)

In [12]:
df_export.to_csv(f'{folder}/cutouts/hubble-training-100-valid/hubble-valid-manifest-tmp.csv')

Key:

    0 - Keep the same.
    1 - Invert classification.
    2 - Remove (Bad Cut)

## Updating CSV

In [13]:
df_updated = (
    pd.read_csv(f'{folder}/cutouts/hubble-training-100-valid/hubble-valid-manifest-tmp.csv',index_col=0)
    .rename(columns={'update':'to_update'})
)

In [14]:
df_updated.to_update.value_counts()

0    394
2      3
Name: to_update, dtype: int64

In [15]:
rem_df = df_updated.query('to_update != 2').drop(columns='to_update')

In [16]:
rem_df

,thumbnail_path,RA,DEC,interaction
AHZ20014y0,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.617792,2.533808,0
AHZ2001nce,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.510928,2.806075,0
AHZ20008c0,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.743709,1.866699,0
AHZ20011u6,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.761110,2.359779,0
AHZ2000nx8,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.615593,2.165826,0
...,...,...,...,...
AHZ2001tg7,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.067971,2.412554,1
AHZ2001tga,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.217657,2.333847,1
AHZ2001tgg,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,149.945407,2.461494,1
AHZ2001tjt,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,150.085100,2.527799,1
AHZ40008m5,/mmfs1/scratch/hpc/60/oryan/fromMAST/thumbnail...,52.999558,-27.908689,1

In [17]:
rem_df.to_csv(f'{folder}/cutouts/hubble-training-100-valid/hubble-valid-manifest-checked.csv')

## Automating The Above Process

In [22]:
from PIL import Image
import numpy as np
import pandas as pd
import os

In [42]:
im = Image.open(r'C:\Users\oryan\Documents\esac-project\cutouts\hubble-training-100-large\AHZ2000a1l_300_300_3.png')

In [67]:
os.path.exists(r'C:\Users\oryan\Documents\esac-project\cutouts\hubble-training-100-large\AHZ2000a1l_300_300_3.png')

True

In [47]:
counter = 0
for i in range(im_arr.shape[0]):
    for j in range(im_arr.shape[1]):
        if im_arr[i,j,0] == 255 & im_arr[i,j,0] == 255 & im_arr[i,j,0] == 255:
            counter += 1

In [48]:
counter

15663

In [43]:
im_arr = np.asarray(im)

In [49]:
len(np.where(im_arr[:,:,:] == 255)[0])/3

15663.0

In [132]:
def filepath_creator(filename):
    name = os.path.splitext(filename)[0]
    if name[-2:] == '_3':
        filepath = r'C:/Users/oryan/Documents/esac-project/cutouts/hubble-training-100-large/' + name + '.png'
    else:
        filepath =  r'C:/Users/oryan/Documents/esac-project/cutouts/hubble-training-100-large/' + name + '_3.png'
    return filepath

In [133]:
def image_checker(filepath):
    if os.path.exists(filepath):
        pass
    else:
        return 2
    im = Image.open(filepath)
    im_arr = np.asarray(im)
    n = len(np.where(im_arr[:,:,:] == 255)[0]) / 3
    im.close()
    if n / (im_arr.shape[0] * im_arr.shape[1]) > 0.10:
        return 2
    else:
        return 0

In [134]:
df = pd.read_csv(r'C:/Users/oryan/Documents/esac-project/cutouts/hubble-training-100-large/large-training-manifest.csv', index_col = 0)

In [135]:
df

                                               thumbnail_path
AHZ2001cnu  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001...
AHZ200067f  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
AHZ400034x  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ4000...
AHZ100022b  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ1000...
AHZ2001ik8  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001...
...                                                       ...
AHZ2000x6a  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
AHZ2000ybi  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
AHZ2000vix  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
AHZ2000k4m  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
AHZ20000fa  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...

[6671 rows x 1 columns]

In [137]:
df_local = df.assign(thumbnail_local = df.thumbnail_path.apply(lambda x: filepath_creator(os.path.basename(x))))

In [140]:
df_checked = df_local.assign(to_update = df_local.thumbnail_local.apply(lambda x: image_checker(x)))

In [141]:
df_checked.to_update.value_counts()

0    6568
2     103
Name: to_update, dtype: int64

## Removing Bad Cuts and Setting Manifest

In [161]:
df_rem = (
    df_checked
    .query('to_update == 0')
    .drop(columns=['to_update','thumbnail_local'])
    .reset_index()
    .rename(columns={'index':'zooniverse_id'})
)

In [162]:
df_rem

     zooniverse_id                                     thumbnail_path
0       AHZ2001cnu  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001...
1       AHZ200067f  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
2       AHZ400034x  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ4000...
3       AHZ100022b  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ1000...
4       AHZ2001ik8  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001...
...            ...                                                ...
6563    AHZ2000x6a  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
6564    AHZ2000ybi  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
6565    AHZ2000vix  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
6566    AHZ2000k4m  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...
6567    AHZ20000fa  /mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...

[6568 rows x 2 columns]

In [163]:
full_gzh_manifest = (
    pd.read_csv('C:/Users/oryan/Documents/esac-project/manifests/large-training-set.csv', index_col = 0)
    .drop(columns=['RA','DEC'])
)

In [164]:
full_gzh_manifest

     zooniverse_id  interaction
0       AHZ2001cnu            0
1       AHZ200067f            0
2       AHZ400034x            0
3       AHZ100022b            0
4       AHZ2001ik8            0
...            ...          ...
6937    AHZ2000x6a            1
6938    AHZ2000ybi            1
6939    AHZ2000vix            0
6940    AHZ2000k4m            0
6941    AHZ20000fa            0

[6942 rows x 2 columns]

In [165]:
labelled_manifest = df_rem.merge(full_gzh_manifest, on='zooniverse_id',how='left')

In [168]:
labelled_manifest.interaction.value_counts()

1    3323
0    3245
Name: interaction, dtype: int64

## Fixing Filepaths Bug

In [170]:
labelled_manifest.thumbnail_path.iloc[0]

'/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001cnu_300_300_3.png'

In [178]:
def path_checker(filename):
    name = os.path.splitext(filename)[0]
    if name[-2:] == '_3':
        return f'/mmfs1/scratch/hpc/60/oryan/thumbnails/{filename}'
    else:
        return f'/mmfs1/scratch/hpc/60/oryan/thumbnails/{name}_3.png'

In [182]:
labelled_manifest_fixed = labelled_manifest.assign(thumbnail_path = labelled_manifest.thumbnail_path.apply(lambda x: path_checker(os.path.basename(x))))
labelled_manifest_fixed

,zooniverse_id,thumbnail_path,interaction
0,AHZ2001cnu,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001...,0
1,AHZ200067f,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...,0
2,AHZ400034x,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ4000...,0
3,AHZ100022b,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ1000...,0
4,AHZ2001ik8,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2001...,0
...,...,...,...
6563,AHZ2000x6a,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...,1
6564,AHZ2000ybi,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...,1
6565,AHZ2000vix,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...,0
6566,AHZ2000k4m,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...,0
6567,AHZ20000fa,/mmfs1/scratch/hpc/60/oryan/thumbnails/AHZ2000...,0

In [183]:
labelled_manifest_fixed.to_csv('C:/Users/oryan/Documents/esac-project/manifests/large-training-set-labelled.csv')